<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from htmldemo.net/fastbuy/fastbuy/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Aug 2023 10:02:29 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Version One | FastBuy - Mega Shop eCommerce Bootstrap 4 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico">
    <!-- CSS
        ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- Ionicons Font CSS -->
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins.css">
    <!-- Helper CSS -->
    <link rel="stylesheet" href="~/assets/css/helper.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
</head>

<body>
    <div class="body-wrapper">
        <header class="bg-midnight">
            @Html.Partial("~/Views/Home/Headertop.cshtml")
            @Html.Partial("~/Views/Home/HeaderSearch.cshtml")
            @Html.Partial("~/Views/Home/Menu.cshtml")
        </header>
        @RenderBody()
        @Html.Partial("~/Views/Layout/_Layoutfooter.cshtml")
    </div>
    <!-- Body Wraper Area End Here -->
    <!-- JS
        ============================================ -->
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="~/assets/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
</body>


<!-- Mirrored from htmldemo.net/fastbuy/fastbuy/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Aug 2023 10:02:38 GMT -->
</html>