@model Webbanhang.Models.ThanhVien
<div class="page-section pt-60 pb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <!-- Login Form s-->
                @using (Html.BeginForm())
                {
                    <div class="login-form">
                        <h4 class="login-title">Đăng nhập</h4>
                        <div class="row">
                           <div class="col-md-12 col-12 mb-20">
                                <label>Tên tài khoản</label>
                                @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "mb-0 form-control", placeholder = "Nhập tên đăng nhập" } })
                                @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                                <p style="color: red">@ViewBag.TrungLap</p>
                                <p style="color: red">@ViewBag.Taikhoannull</p>
                            </div>
                            <div class="col-12 mb-20">
                                <label>Mật khẩu</label>
                                @Html.PasswordFor(model => model.MatKhau, new { @class = "mb-0 form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                <p style="color: red">@ViewBag.Matkhaunull</p>
                            </div>
                            <div class="col-md-8" style="margin-bottom:20px">
                                <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                    <input type="checkbox" id="remember_me">
                                    <label for="remember_me">Remember me</label>
                                    <p style="color: red">@ViewBag.Sai</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="register-button mt-0">Đăng nhập</button>
                            </div>
                            <a class="nav-link" href="~/NguoiDung/Dangky" style="margin-left:57px">
                                Đăng ký
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
