@using Webbanhang.Models
@{
    ViewBag.Title = "Menu";
    ThanhVien thanhVien = (ThanhVien)Session["TaiKhoan"];
}
<div class="page-section pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
                <form action="#">
                    <div class="login-form" style=" box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.4);">
                        <div class="row">
                            <div class="col-md-6 col-12 mb-20">
                                <label>Họ Tên</label>
                                <input class="mb-0" type="text" value="@thanhVien.Hoten">
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Tài Khoản</label>
                                <input class="mb-0" type="text" value="@thanhVien.TaiKhoan">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Số Điện Thoại</label>
                                <input class="mb-0" type="text" value="@thanhVien.DienThoai">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Email</label>
                                <input class="mb-0" type="text" value="@thanhVien.Email">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Địa Chỉ</label>
                                <input class="mb-0" type="text" value="@thanhVien.DiaChi">
                            </div>
                            @{
                                Webbanhang.Models.ShopsEntities14 db = new Webbanhang.Models.ShopsEntities14();
                                var loai = db.LoaiThanhViens.Find(thanhVien.MaLoaiTV);
                                if (loai != null)
                                {
                                    <div class="col-md-6 mb-20">
                                        <label>Loại Thành Viên</label>
                                        <input class="mb-0" type="text" value="@loai.TenLoaiTV">
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

