@using Webbanhang.Models
@model IEnumerable<SanPham>

<div class="col-lg-6">
    <div class="fb-section_title fb-section_title-3">
        <h2>Đồ gia dụng mới</h2>
    </div>
    <!-- Begin FB's Banner Area -->
    <div class="fb-banner fb-img-hover-effect">
        <a href="#">
            <img src="~/assets/images/banner/1_10.jpg" alt="FB'S Banner">
        </a>
    </div>
    <!-- FB's Banner Area End Here -->
    <div class="fb-product_wrap fb-new_product_wrap bg-white">
        <div class="fb-new_product_active owl-carousel">
            <!-- Begin Sigle Product Area -->
            @foreach (var item in Model)
            {
                <div class="single-product">
                    <!-- Begin Product Image Area -->
                    <div class="product-img">
                        <a href="@Url.Action("ChiTietSanPham","SanPhams",new {id = item.IDSP })">
                            <img class="primary-img" src="@Url.Content("~/assets/images/product/" + @item.HinhAnh1)"
                                 alt="FB'S Prduct">
                            <img class="secondary-img" src="@Url.Content("~/assets/images/product/" + @item.HinhAnh1)"
                                 alt="FB'S Prduct">
                        </a>
                        <div class="sticker"><span>New</span></div>
                    </div>
                    <!-- Product Image Area End Here -->
                    <!-- Begin Product Content Area -->
                    <div class="product-content">
                        <h2 class="product-name">
                            <a href="@Url.Action("ChiTietSanPham","SanPhams",new {id = item.IDSP })">@item.TenSP</a>
                        </h2>
                        <div class="rating-box">
                            <ul class="rating">
                                <li class="no-star"><i class="fa fa-star"></i></li>
                                <li class="no-star"><i class="fa fa-star"></i></li>
                                <li class="no-star"><i class="fa fa-star"></i></li>
                                <li class="no-star"><i class="fa fa-star"></i></li>
                                <li class="no-star"><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="price-box">
                            <span class="new-price">@item.DonGia</span>
                        </div>
                        <div class="product-action">
                            <ul class="product-action-link">
                                <li class="shopping-cart_link">
                                    <a href="shopping-cart.html"
                                       title="Shopping Cart"><i class="ion-bag"></i></a>
                                </li>
                                <li class="quick-view-btn">
                                    <a href="#" title="Quick View"
                                       data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                        <i class="ion-eye"></i>
                                    </a>
                                </li>
                                <li class="single-product_link">
                                    <a href="@Url.Action("ChiTietSanPham","SanPham",new {id = item.IDSP })"
                                       title="Single Product"><i class="ion-link"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product Content Area End Here -->
                </div>
            }
            <!-- Sigle Product Area End Here -->
            <!-- Begin Sigle Product Area -->
            <!-- Product Content Area End Here -->
        </div>
        <!-- Sigle Product Area End Here -->
    </div>
</div>



